In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
batters=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/prepared data/final after region/batters_region.csv',index_col=False)

In [3]:
pitchers=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/prepared data/final after region/pitchers_region.csv',index_col=False)

In [4]:
batters.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'name_common', 'age', 'mlb_ID', 'bbrefID',
       'yearID', 'teamID', 'stint_ID', 'lg_ID', 'PA', 'G_x', 'Inn', 'WAR',
       'WAR_def', 'WAR_off', 'WAR_rep', 'salary', 'pitcher', 'OPS_plus',
       'TOB_lg', 'TB_lg', 'playerID', 'stint', 'lgID_x', 'G_y', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'nameFirst', 'nameLast', 'nameGiven',
       'weight', 'height', 'bats', 'throws', 'debut', 'finalGame', 'retroID',
       'lgID_y', 'G_all', 'GS', 'G_batting', 'G_defense', 'G_p', 'G_c', 'G_1b',
       'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_of', 'G_dh', 'G_ph',
       'G_pr', 'gameNum', 'gameID', 'lgID', 'GP', 'startingPos', '_merge',
       'region'],
      dtype='object')

In [5]:
pitchers.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'playerID', 'yearID', 'stint', 'teamID',
       'lgID_x', 'W', 'L', 'G_x', 'GS_x', 'CG', 'SHO', 'SV', 'IPouts', 'H',
       'ER', 'HR', 'BB', 'SO', 'BAOpp', 'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP',
       'GF', 'R', 'SH', 'SF', 'GIDP', 'birthYear', 'birthMonth', 'birthDay',
       'birthCountry', 'birthState', 'birthCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID', 'lgID_y', 'G_all', 'GS_y', 'G_batting',
       'G_defense', 'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf',
       'G_cf', 'G_rf', 'G_of', 'G_dh', 'G_ph', 'G_pr', 'name_common', 'age',
       'mlb_ID', 'stint_ID', 'lg_ID', 'G_y', 'GS', 'runs_above_avg', 'WAR',
       'salary', 'WAA', 'WAA_adj', 'WAR_rep', 'ERA_plus', 'ER_lg', 'gameNum',
       'gameID', 'lgID', 'GP', 'startingPos', '_merge', 'region'],
      dtype='object')

In [6]:
batters.value_counts('region')

region
US Born       28924
Latin Born     7154
Other           438
dtype: int64

In [7]:
pitchers.value_counts('region')

region
US Born       27746
Latin Born     4814
Other           678
dtype: int64

In [8]:
#The goal is to now aggregate our data to show the differences between specific statistics from players coming from differnt regions

In [9]:
All_Batters_career_SUM = batters.groupby('playerID').agg({
    'WAR': 'sum',
    'HR': 'sum',
    'GP': 'sum',
    'H': 'sum',
    'playerID':'count',
    'region': 'first',
    'birthCountry':'first',
    'birthState':'first',
    'birthCity':'first'
})

In [10]:
#Renaming GP column to represent ASG and playerID to represent seasons played
All_Batters_career_SUM = All_Batters_career_SUM.rename(columns={'GP': 'ASG'})
All_Batters_career_SUM = All_Batters_career_SUM.rename(columns={'playerID': 'seasonsPlayed'})

In [11]:
All_Batters_career_SUM

,WAR,HR,ASG,H,seasonsPlayed,region,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aaronha01,105.72,570,16.0,2659,17,US Born,USA,AL,Mobile
aaronto01,-2.77,13,0.0,216,7,US Born,USA,AL,Mobile
abadan01,-0.35,0,0.0,2,3,US Born,USA,FL,Palm Beach
abbotje01,-1.44,18,0.0,157,5,US Born,USA,GA,Atlanta
abbotku01,0.54,62,0.0,523,10,US Born,USA,OH,Zanesville
...,...,...,...,...,...,...,...,...,...
zuletju01,-0.19,9,0.0,43,2,Latin Born,Panama,Panama,Panama
zuninmi01,10.62,141,0.0,518,9,US Born,USA,FL,Cape Coral
zupcibo01,-0.71,7,0.0,199,5,US Born,USA,PA,Pittsburgh
zupofr01,0.12,0,0.0,2,1,US Born,USA,CA,San Francisco
zuvelpa01,-2.36,2,0.0,109,9,US Born,USA,CA,San Mateo

In [12]:
#Now, we'll do the same for pitchers

In [13]:
pitchers.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'playerID', 'yearID', 'stint', 'teamID',
       'lgID_x', 'W', 'L', 'G_x', 'GS_x', 'CG', 'SHO', 'SV', 'IPouts', 'H',
       'ER', 'HR', 'BB', 'SO', 'BAOpp', 'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP',
       'GF', 'R', 'SH', 'SF', 'GIDP', 'birthYear', 'birthMonth', 'birthDay',
       'birthCountry', 'birthState', 'birthCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID', 'lgID_y', 'G_all', 'GS_y', 'G_batting',
       'G_defense', 'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf',
       'G_cf', 'G_rf', 'G_of', 'G_dh', 'G_ph', 'G_pr', 'name_common', 'age',
       'mlb_ID', 'stint_ID', 'lg_ID', 'G_y', 'GS', 'runs_above_avg', 'WAR',
       'salary', 'WAA', 'WAA_adj', 'WAR_rep', 'ERA_plus', 'ER_lg', 'gameNum',
       'gameID', 'lgID', 'GP', 'startingPos', '_merge', 'region'],
      dtype='object')

In [14]:
All_Pitchers_career_SUM = pitchers.groupby('playerID').agg({
    'WAR': 'sum',
    'ERA_plus': 'mean',
    'G_all': 'sum',
    'playerID':'count',
    'GP': 'sum',
    'region': 'first',
    'birthCountry':'first',
    'birthState':'first',
    'birthCity':'first'
})

All_Pitchers_career_SUM

,WAR,ERA_plus,G_all,playerID,GP,region,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aardsda01,1.85,94.744369,331,9,0.0,US Born,USA,CO,Denver
aasedo01,15.09,126.585193,448,13,1.0,US Born,USA,CA,Orange
abadfe01,3.18,116.022263,400,11,0.0,Latin Born,D.R.,La Romana,La Romana
abbotco01,-0.40,63.615385,8,1,0.0,US Born,USA,CA,San Diego
abbotgl01,5.26,97.366300,248,12,0.0,US Born,USA,AR,Little Rock
...,...,...,...,...,...,...,...,...,...
zitoba01,33.05,103.277974,434,15,2.0,US Born,USA,NV,Las Vegas
zobribe01,0.03,NaN,47,1,0.0,US Born,USA,IL,Eureka
zuberty01,-0.12,94.390000,54,2,0.0,US Born,USA,AR,White Hall
zumayjo01,4.17,145.361990,171,5,0.0,US Born,USA,CA,Chula Vista
zychto01,1.59,147.576667,70,3,0.0,US Born,USA,IL,Monee

In [15]:
All_Pitchers_career_SUM = All_Pitchers_career_SUM.rename(columns={'playerID': 'seasonsPlayed'})

All_Pitchers_career_SUM = All_Pitchers_career_SUM.rename(columns={'GP': 'ASG'})
All_Pitchers_career_SUM

,WAR,ERA_plus,G_all,seasonsPlayed,ASG,region,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aardsda01,1.85,94.744369,331,9,0.0,US Born,USA,CO,Denver
aasedo01,15.09,126.585193,448,13,1.0,US Born,USA,CA,Orange
abadfe01,3.18,116.022263,400,11,0.0,Latin Born,D.R.,La Romana,La Romana
abbotco01,-0.40,63.615385,8,1,0.0,US Born,USA,CA,San Diego
abbotgl01,5.26,97.366300,248,12,0.0,US Born,USA,AR,Little Rock
...,...,...,...,...,...,...,...,...,...
zitoba01,33.05,103.277974,434,15,2.0,US Born,USA,NV,Las Vegas
zobribe01,0.03,NaN,47,1,0.0,US Born,USA,IL,Eureka
zuberty01,-0.12,94.390000,54,2,0.0,US Born,USA,AR,White Hall
zumayjo01,4.17,145.361990,171,5,0.0,US Born,USA,CA,Chula Vista
zychto01,1.59,147.576667,70,3,0.0,US Born,USA,IL,Monee

In [16]:
All_Batters_career_SUM.to_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/prepared data/aggregations/batters_ext_region.csv')

In [17]:
All_Pitchers_career_SUM.to_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 6/prepared data/aggregations/pitchers_ext_region.csv')

In [18]:
All_Pitchers_career_SUM['region'].value_counts()

US Born       5129
Latin Born     984
Other          144
Name: region, dtype: int64